<!-- <p>register works!</p> -->


<div class="container-fluid py-5" style="padding: 5% 20%;">
    <h1>Register Employee</h1>
    <form [formGroup]="RegisterForm" (ngSubmit)="register()">
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName" type="text">
            <mat-error *ngIf="RegisterForm.get('userName')?.hasError('required')">
                User Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="RegisterForm.get('email')?.hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="RegisterForm.get('email')?.hasError('email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Select Role</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Select Manager</mat-label>
            <mat-select formControlName="manager">
                <mat-option *ngFor="let manager of managerList" [value]="manager._id">
                    {{manager.username}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="RegisterForm.get('manager')?.hasError('required')">
                Manager is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="RegisterForm.get('password')?.hasError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="RegisterForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password">
            <mat-error *ngIf="RegisterForm.get('confirmPassword')?.hasError('required')">
                Confirm Password is required
            </mat-error>
            <mat-error *ngIf="RegisterForm.get('confirmPassword')?.hasError('minlength')">
                Confirm Password must be at least 6 characters long
            </mat-error>
            <mat-error *ngIf="RegisterForm.get('confirmPassword')?.hasError('passwordMismatch')">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <div>
            <button type="submit" mat-raised-button color="primary" class="me-3">Register</button>
        </div>
    </form>
</div>